*{
	margin: 0;
	padding: 0;
}
.header{
	min-height:100vh;
	width:100%;
	background-image: url(pics/1.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display:flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 150px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 25px;
}
.nav-links ul li:after{
	content: '';
	width: 0%;
	height: 3px;
	background:#851600;
	display: block;
	margin:auto;
	transition: 0.3s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 90;
	color: #030303 ;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-size: 35px;

}
.btn{
	text-decoration: none;
	display: inline-block;
	color: white;
	border: 2px solid white;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.btn:hover{
	background: rgba(190, 64, 38, 0.7);
	transition: 1s;
}
.sbt{
	min-height:100vh;
	width:80%;
	
	background-position: center;
	background-size: cover;
	position: relative;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.nav-links ul li{
	display: block;
}
.nav-links{
	position: fixed;
	background: rgba(255, 65, 35, 0.1);
	height: 100%;
	width: 65px;
	top: 0;
	right: 0;
	z-index: 2;
}
hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 70px;
  background-color:white;
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.col{
	height: 300px;
	width: 33%;
	background: rgba(117, 117, 117,0.3);
	border-radius: 30px;
	color: white ;

}
.col a{text-decoration: none;
	display: inline-block;
	color: white;
	border: 2px solid white;
	padding: 8px 10px;
	font-size: 15px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.col a:hover{
	background: rgba(190, 64, 38, 0.7);
	transition: 1s;